// Colors
$header-color: #fff;
$header-btn-color-hover: #d6d6d6;
$hero-color: #fff;
$hero-lead-color: #ebebeb;
$btn-hero-color: #fff;
$btn-disabled-bg: #c79c9c;
$primary-bg-color: #7d0a0a;
$primary-bg-color-hover: #991212;
$title-color: #313131;
$text-color: #585858;
$main-text-color: #313131;
$carousel-bg-color: #313131;
$category-text-color: #fff;
$contact-content-color: #fff;
$form-label-color: #ebebeb;
$input-bg-color: #ebebeb;
$input-placeholder-color: #adadad;
$footer-text-color: #313131;
$copy-color: #fff;
$copy-bg-color: #313131;
