// Colors
$header-color: #fff;
$hero-color: #fff;
$hero-lead-color: #ebebeb;
$btn-hero-color: #fff;
$primary-bg-color: #7d0a0a;
$title-color: #313131;
$text-color: #585858;
$main-text-color: #313131;
$category-text-color: #fff;
$contact-content-color: #fff;
$form-label-color: #ebebeb;
$input-placeholder-color: #adadad;
$footer-text-color: #313131;
$copy-color: #fff;
