@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.heroSection {
  position: relative;
  z-index: 1;
background-image: url('#{$base-url}img/wine-cellar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  .catalog {
    padding-block: 40px;

    @include container-padding;
  }

  .title {
    font-weight: 300;
    font-size: 52px;
    line-height: 150%;
    color: white;
    margin-top: 40px;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: $hero-color;
    margin-top: 16px;
    max-width: 700px;
  }

  .searchForm {
    margin-top: 34px;
    display: flex;
    gap: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .search {
    padding: 14px 20px;
    width: 100%;
    max-width: 480px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }

  .searchBtn {
    height: 48px;
    padding: 0 30px;
    background-color: #7D0A0A;
    font-weight: 600;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}

.catalogSection {
  background-color: white;

  .catalog {
    padding-block: 40px;
    @include container-padding;
  }
}

.wineGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 56px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  width: 272px;
  height: 410px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.winery, .location {
  font-size: 14px;
  color: #777;
}

.pageBtn {
  @media screen and (max-width: 480px) {
    padding: 4px 6px;
    font-size: 12px;
    min-width: 32px;
    flex: 0 0 auto;
    flex-shrink: 0;
  }
}


.active {
  background-color: #7D0A0A !important;
}


.filters {
  display: flex;
  gap: 16px;
  padding-top: 20px;
  margin-bottom: 10px;


  select {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fcfcfc;
    border: none;
  }

  @media screen and (max-width: 768px) {
  display: none;
  }
}

.itemsPerPageLabel {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 20px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  select {
    margin-left: 0;
    padding: 10px 16px 10px 16px;
    font-size: 15px;
  }
}

.itemsPerPageWrapper {
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }
}


.resultsCount {
  margin-bottom: 24px;
  @include container-padding;
}

.resultsTitle {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.countAndFilters {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.countText {
  font-weight: bold;
  font-size: 18px;
}

.filterTag {
  background-color: #eee;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.removeBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}

.filtersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // gap: 16px;
  padding-top: 20px;
  margin-bottom: 10px;

  @include container-padding;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}


.filters {
  display: flex;
  gap: 16px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  select {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fcfcfc;
    border: none;
  }
}

.actionsRow {
  display: flex;


  @media screen and (max-width: 768px) {
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

.actionButton {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 16px;
  color: #333;
  border: 1px solid #ccc;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  max-width: 200px;
  color: #333;

  @media screen and (min-width: 769px) {
    display: none; 
  }
}

.filterIcon {
  display: none;

  @media screen and (max-width: 768px) {
  width: 24px;
  height: 24px;
  fill: #333;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: block;
  margin-right: 10px; 
  margin-top: -2px;
  }
}

.mobileControls {

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bottom {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}

.group {
  position: relative;
  display: inline-block;
}

.select {
  color: #333;
  padding: 11px 26px 11px 14px;
  font-size: 16px;
  border: 1px solid #b4bdc3;
  border-radius: 8px;
  outline: none;
  appearance: none;
  background-color: #fff;
  width: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 30px;
  }
}
