.dropdown {
  position: relative;
  display: inline-block;
}

.button {
  padding: 8px 16px 8px 0;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
}

.buttonSort {
  padding: 8px 16px 8px 16px;
  border: 1px solid #ccc;
  background: none;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  

  @media screen and (max-width: 768px) {

  }
}

.sortIcon {
  display: none;

  @media screen and (max-width: 768px) {
  width: 24px;
  height: 24px;
  fill: #333;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: 10px;
  }
}

.arrow {
  transition: transform 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  padding: 19px;
  border-radius: 4px;
  z-index: 1000;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #333;

  .inputLabel {
    width: 16px;
    height: 16px;
    accent-color: #8b0000;
    cursor: pointer;
    margin: 0;
  }
}

.applyButton {
  background-color: #8b0000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #a30000;
  }
}
