.wineGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 56px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



.card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  width: 272px;
  height: 410px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.winery,
.location {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  color: #777;
  margin: 0;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;

    @media screen and (max-width: 480px) {
    gap: 4px;
    margin-top: 24px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 8px;
    max-width: 100vw;
    width: 90vw;
    box-sizing: border-box;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.pageBtn {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;

    @media screen and (max-width: 480px) {
    padding: 5px 7px;
    font-size: 14px;
    min-width: 32px;
  }
}

.pageBtn:hover {
  background-color: #f0f0f0;
}

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.active {
  background-color: darkred;
  color: white;
}
