@use './../../styles/vars.scss' as *;

.categories {
  padding-block: 52px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  position: relative;
  width: calc((100% / 2) - 8px);
  height: auto;
  min-height: 280px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
    transition: all 0.4s ease-in;


  & img {
    width: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 1024px) {
  .categories {
    padding-block: 104px;
  }

  .list {
    gap: 20px;
  }

  .item {
    width: calc((100% / 4) - 20px);
    max-height: 550px;
  }
}
