@use './styles/reset.scss' as *;
@use './styles/mixins.scss' as *;

* {
  font-size: 30px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin-inline: auto;
  max-width: 1200px;

  border: 1px solid blue;
}
