@use './styles/reset.scss' as *;
@use './styles/mixins.scss' as *;
@use './styles/vars.scss' as *;

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: $main-text-color;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.main {
  flex: 1;
}


.container {
  margin-inline: auto;
  max-width: 1440px;
@include container-padding;
}

h2 {
  margin-bottom: 24px;
  font-family: Jura;
  font-size: 36px;
  line-height: 115%;
}

label {
  display: block;
}

input,
textarea {
  margin-bottom: 24px;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  background-color: $input-bg-color;
  outline: none;
}

textarea {
  resize: none;
}

a,
button {
  cursor: pointer;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 54px;
  }
}
